<section>
    <div class="container mt-5">
        <div class="border mx-auto" style="min-height: 50%; max-height:fit-content; min-width:50%; max-width:fit-content">
            <div class="m-3 table-responsive">
                <table class="table align-middle table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Order Id</th>
                            <th scope="col">Address</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Payment</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each orders}}
                        <tr>
                            <td>{{this.date}}</td>
                            <td>{{this._id}}</td>
                            <td class="col">
                                {{this.deliveryDetails.address}},
                                {{this.deliveryDetails.pincode}},
                                {{this.deliveryDetails.mobile}}    
                            </td>
                            <td>{{this.total}}</td>
                            <td>{{this.paymentMethod}}</td>
                            <td>{{this.status}}</td>
                            <td><a href="/view-selected-order?id={{this._id}}" class="btn btn-primary">View Product</a></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>